.signup-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;

}

.signup-login>form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 15px;
  background-color: lightseagreen;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}